.customcloseButton{
  width: 30px;
  height: 30px;
  fill: white;
  position: absolute;
  right: -5px;
  top: 30px;
}

.customModal {
  background-color: black;
}

.customOverlay {
}

.configModal {
  background-color: black;
  border-radius: 20px;
  right: 15px;
}
