input {
  height: 50px;
  width: 130px;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  text-align: center;
}

label {
  font-size: 25px;
  margin: 0px 10px 0px 10px;
}

.numClearButton {
  height: 100%;
  background-color: transparent;
  width: 80px;
  text-align: left;
  margin-top: 0px;
  padding-left: 8px;
  font-size: 35px;
  border: none;
}

.numPadInput {
  font-weight: normal;
}

.numPadPosition {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.numPadButton {
  margin: 2px 2px 2px 2px;
  font-size: 35px;
  width: 32%;
  height: 25%;
  border: none;
}

.testText {
  position: absolute;
  margin: 400px 2px 2px 300px;
  color: blue;
}

.blurBackground {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
  background-color: white;
}

.numAdvanceLeft {
  margin: 230px 0px 0px -160px;
  position: absolute;
  border: 2px solid white;
}

.numAdvanceLeft:hover {
  background-color: black;
  border: 2px solid white;
}

.numAdvanceRight {
  margin: 230px 0px 0px 500px;
  position: absolute;
  border: 2px solid white;
}

.numAdvanceRight:hover {
  background-color: black;
  border: 2px solid white;
}

.calInputBtns {
  width: 120px;
  height: 45px;
  background-color: white;
  color: black;
}

.calInputBtns:disabled {
  width: 120px;
  height: 45px;
  background-color: #1e1a1b;
  color: white;
}

.calInputColumns {
  column-count: 2;
  column-gap: 60px;
  width: 400px;
  margin: 90px 0px 0px 35px;
  position: absolute;
}

.calInputName {
  padding: 8px 12px 0px 0px;
  width: 70px;
}

.odCalTitles {
  position: absolute;
  margin: 27px 0px 0px 105px;
  font-weight: bold;
  width: 360px;
  text-align: left;
  border: none;
  background-color: black;
}

.vialItem {
  display: block;
  border-radius: 60px;
  background: white;
  width: 90px;
  height: 90px;
  margin: 27px 30px 35px 21px;
  color: black;
  text-align: center;
}

.vialDensity {
  position: absolute;
  display: block;
  border-radius: 60px;
  width: 90px;
  height: 90px;
  margin: 25.5px;
  color: black;
  text-align: center;
  margin: 0px 0px 0px 0px;
  background-color: #f58245;
}

.vialLabels {
  position: absolute;
  text-align: center;
  width: 90px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.vialInput {
  position: absolute;
  text-align: center;
  width: 90px;
  font-size: 15px;
  margin-top: 40px;
  line-height: 20px;
  font-style: italic;
}

ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  max-width: 600px;
  padding: 0px 0px 0px 0px;
}

.vialOutline {
  width: 265px;
  height: 265px;
  margin: 40px 5px 0px 5px;
  border: 5px solid blue;
  background: transparent;
}

.smartQuadOutlineSelected {
  width: 265px;
  height: 265px;
  margin: 40px 5px 0px 5px;
  border: 5px solid green;
  background: transparent;
}

.smartQuadOutlineDeSelected {
  width: 265px;
  height: 265px;
  margin: 40px 5px 0px 5px;
  border: 5px solid white;
  background: transparent;
}

.outlineWrapper {
  position: absolute;
  margin: -650px 0px 0px -7px;
}

.vialOutlineText {
  position: absolute;
  padding: 0px 0px 0px 0px;
  margin: -3px 0px 0px 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 141px;
  font-size: 20px;
  font-style: italic;
}
.odAdvanceBtn {
  position: absolute;
  margin: 540px 0px 0px 348px;
  height: 80px;
  width: 120px;
  background-color: white;
  color: black;
  border: none;
}

.odAdvanceBtn:disabled {
  background-color: black;
  border: none;
}

.odBackBtn {
  position: absolute;
  margin: 540px 0px 0px 63px;
  height: 80px;
  width: 120px;
  background-color: white;
  color: black;
}

.odBackBtn:disabled {
  background-color: black;
  border: none;
}

.stepOneBtn {
  position: absolute;
  margin: 560px 0px 0px 63px;
  height: 80px;
  width: 410px;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.measureBtn {
  position: absolute;
  margin: 560px 0px 0px 196px;
  height: 80px;
  width: 140px;
  background-color: white;
  color: black;
}

.statusText {
  font-size: 22px;
}

.readStopBtn {
  position: absolute;
  margin: 18px 0px 0px -33px;
}

.tempAdvanceBtn {
  position: absolute;
  margin: 560px 0px 0px 348px;
  height: 70px;
  width: 120px;
  background-color: white;
  color: black;
  border: none;
}

.tempAdvanceBtn:disabled {
  background-color: black;
  border: none;
}

.tempBackBtn {
  position: absolute;
  margin: 560px 0px 0px 63px;
  height: 70px;
  width: 120px;
  background-color: white;
  color: black;
}

.tempBackBtn:disabled {
  background-color: black;
  border: none;
}

.tempMeasureBtn {
  position: absolute;
  margin: 560px 0px 0px 196px;
  height: 70px;
  width: 140px;
  background-color: white;
  color: black;
}

.tempDisclaimerText {
  font-size: 14px;
  margin: 615px 0px 0px 118px;
}

.calibrationBtns {
  margin: 0px 10px 20px 5px;
  width: 205px;
  height: 40px;
  font-size: 16px;
  overflow: hidden;
}

.rawCalibrationBtns {
  margin: 0px 10px 20px 5px;
  width: 90px;
  height: 40px;
  font-size: 16px;
}

.rawCalibrationBtnsPushed {
  margin: 0px 10px 20px 5px;
  width: 90px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #f58245;
  color: #f58245;
}

.activeCalSelection {
  font-size: 16px;
  width: 230px;
  height: 40px;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
}

.alertBtns {
  background-color: #f58245;
  color: black;
  border: black;
  margin: 5px 15px 0px 15px;
}
 .alertBtnRow {
   text-align: center;
 }

 .configInstructions {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  word-wrap: break-word;
 }

 .instructionsDiv {
  width: 400px;
 }

 .radioBtnTitles {
  width: 400px;
  text-align: center;
  margin: 0px 0px 10px 0px;
 }

 .radioBtnTitleText {
  font-size: 30px;
  text-align: center;
  margin: 0px 35px 0px 0px;
 }

 .radioBtnRowLabel {
  font-size: 25px;
  text-align: center;
  margin: -6px 0px 0px 0px;
 }
