.slider-label {
  font-style: italic;
  text-align: center;
}

.slider-style {
  margin-top: 0;
  margin-left: 0;
  color: white;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 35px;
  margin-right: 15px;
  margin-left: 15px;
}

.buttons-dashboard {
  margin-left: 45px;
  margin-top: 25px;
}

.fluidicButtons {
  margin-left: 17px;
}

.dashboardTitles {
  position: absolute;
  margin: 10px 0px 0px 55px;
  font-weight: bold;
}
