.managerFileInput {
  width: 300px;
}

.managerFileInput:focus {
  outline: none;
}

.scriptSubmitBtn{
  margin: 100px 0px 0px 100px;
  width: 200px;
  height: 40px;
}

.RunScript{
  position: absolute;
  align-items: center;
  margin: 0px 0px 0px 0px;
  width: 100vw;
  bottom: 10px;
}

.expManagerHomeBtn{
  background-color: black;
  position: absolute;
  margin: 22px 0px 0px 40px;
  border: none;
  font-size: 30px;
}

.expManagerHomeBtn:hover{
  color: white;
}

.refreshBtn{
  position: absolute;
  width: auto;
  height: auto;
  top: 22px;
  left: 385px;
  padding: 5px;
  background-color: black;
  border: none;
  color: #f58245;

}


.draganddrop{
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.ReactTable {
  position: absolute;
  left: -5px;
  width: 560px;
  color: white;
}

.rt-th {
  font-size:19px;
  font-weight: bold;
  text-align: left;
  font-style: italic;
  color: #f58245;
}

.rt-td {
  height: 30px;
}

.searchbar{
  width: 350px;
  color: black;
}

.managerTitle{
  position: absolute;
  top: 25px;
  left: 90px;
  z-index: 10;
}
