.customcloseButton {
  fill: white;
}

.customModal {
  background-color: black;
}

.alertInput {
  width: 500px;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.newExptModal {
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  width: 700px;
  height: 250px;
  text-align: center;
  border-radius: 5px;
  border-color: white;
}

.alertCloseButton {
  position: absolute;
  right: -60px;
  top: 0px;
  fill: white;
}

.alertBtns {
  top: 30px;
  margin-right: 10px;
}
