* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: back;
}

.homeButtons {
  margin: 20px 20px 10px 20px;
  position: relative;
  width: 160px;
  height: 50px;
  color: black;
  background-color: #f58245;
}

.homeFooter {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.vialSelectorButtons {
  width: 166px;
  height: 40px;
  opacity: 0.9;
  background-color: #1e1a1b;
  color: white;
  border: 2px solid white;
}

.setupButton {
  text-align: center;
  color: white;
  border: 2px solid white;
  height: 50px;
}

.stepperStyling {
  color: white;
}

.setupPanel {
  margin: 0px 0px 0px 0px;
}

.navBar {
  background-color: black;
}
