.tableIconButton{
    width: 40px;
    height: 35px;
    text-align: center;
    margin-right:10px
}

.tableTextButton {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
}